<li>
  <%= link_to group_user.user.name, group_user.user %>
  <%= link_to "delete", [group_user.group, group_user], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
</li>
