<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.id %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<h2>Add a User:</h2>
<%= render 'form', user: @users.build %>
