<%= form_tag user_playlist_add_musics_path(@playlist.user, @playlist), method: "POST" do %>
  <p>
    <%= label_tag :music_id_list %><br>
    <% for i in 1..@count %>
      <input type="textbox" name="music_id_array[]"><br>
    <% end %>
    <%= submit_tag "Submit" %>
  </p>
<% end %>
