<li>
  <%= link_to group_playlist.name, [group_playlist.group, group_playlist] %>
  <%= link_to "delete", [group_playlist.group, group_playlist], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
</li>
